<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>my project</title>
</head>
<body>
        <section class="flex justify-center mt-[60px]">
            <div class="w-[500px] h-4">
    <h1 class="text-[34px] font-bold ml-[30%]">Привет!</h1>
    <p class="text-[24px] mt-[20px] ">Mой продукт решает проблемы с прозрачностью и обратной связью между гражданскими и городскими службами.  </p>
            </div>
         </section>
         
</body>
</html>